/* Linux_Game */
.game {
  position: relative;
  width: 38vw;
  height: 44vw;
  margin: auto;
  z-index: 1000;
}

.result_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  font-family: "Ubuntu", "Nanum Gothic", Arial, sans-serif;
  background-color: #614EDB;
}

.box_img {
  width: 300px;
}

.word,
.subword {
  margin-bottom: 20px;
  font-size: 75px;
  letter-spacing: 0.01rem;
  font-family: "Ubuntu", "Nanum Gothic", Arial, sans-serif;
  font-weight: 500;
  color: #ebebeb;
}

.subword {
  margin-top: 20px;
  font-size: 45px;
}

.btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn_white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 60px;
  margin: 10px 20px;
  border-radius: 30px;
  line-height: 30px;
  border: 3px solid #ebebeb;
  font-family: "Ubuntu", "Nanum Gothic", Arial, sans-serif;
  font-size: 19.5px;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: #ebebeb;
  cursor: pointer;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

.btn_white:hover {
  width: 150px;
  border: 2px solid #32393C;
  background-color: #32393C;
  color: #ebebeb;
}

@media all and (max-width: 1110px) {
  .game {
    width: 38vw;
    height: 44vw;
  }
}

@media all and (max-width: 590px) {
  .game {
    margin-bottom: 90px;
    width: 335px;
    height: 338px;
  }
  .box_img {
    width: 200px;
    height: 200px;
  }
  .word {
    margin-bottom: 35px;
    font-size: 45px;
  }
  .subword {
    font-size: 30px;
  }
  .btn_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .btn_white {
    margin-bottom: 10px;
  }
}
