/* Login */
.background {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.background_white {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #2276FF;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 57, 60, 0.4);
  z-index: 50;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 460px;
  border-radius: 20px;
  background-color: #fff;
}

.slides {
  width: 380px;
  height: 460px;
  z-index: 100;
  border-radius: 20px 0 0 20px;
  background-color: #fccb03;
  overflow: hidden;
}

.page1 {
  width: 380px;
  height: 460px;
  border-radius: 20px 0 0 20px;
  background-color: #fccb03;
}

.page2 {
  width: 380px;
  height: 460px;
  border-radius: 20px 0 0 20px;
  background-color: tomato;
}

.page3 {
  width: 380px;
  height: 460px;
  border-radius: 20px 0 0 20px;
  background-color: #F79724;
}

.page4 {
  width: 380px;
  height: 460px;
  border-radius: 20px 0 0 20px;
  background-color: #34A0FC;
}

.box_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 460px;
}

.btn_close {
  position: relative;
  right: 10px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn_close_bar {
  width: 2px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: rgba(50, 57, 60, 0.8);
  margin-left: -2px;
}

.btn_close_bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-right: -2px;
}

.word {
  position: absolute;
  top: 210px;
  font-family: "Ubuntu", Arial, sans-serif;
  font-size: 1.5rem;
}

.word2 {
  position: absolute;
  top: 300px;
  color: rgba(50, 57, 60, 0.6);
  font-size: 16px;
}

.box_login {
  position: absolute;
  top: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 250px;
}

.box_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.word_id {
  font-size: 12px;
  font-weight: 500;
  color: rgba(50, 57, 60, 0.6);
}

.input_id {
  border: none;
  border-bottom: 1px solid rgba(50, 57, 60, 0.2);
  margin: 1px 0;
  font-size: 16px;
  width: 200px;
}

.input_id:focus {
  outline: none;
  border-bottom: 1px solid #fccb03;
  -webkit-transition: .4s;
  transition: .4s;
}

.box_pw {
  position: absolute;
  top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.word_pw {
  font-size: 12px;
  font-weight: 500;
  color: rgba(50, 57, 60, 0.6);
}

.input_pw {
  border: none;
  border-bottom: 1px solid rgba(50, 57, 60, 0.2);
  margin: 1px 0;
  font-size: 16px;
  width: 200px;
}

.input_pw:focus {
  outline: none;
  border-bottom: 1px solid #fccb03;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn_login {
  position: absolute;
  top: 130px;
  width: 100px;
  height: 25px;
  border-radius: 25px;
  background-color: rgba(50, 57, 60, 0.8);
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}

.box_login img {
  top: 100px;
  width: 160px;
  height: 70px;
  margin-top: 100px;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .container {
    width: 320px;
    height: 460px;
    border-radius: 20px;
  }
  .slides {
    display: none;
  }
}
