/* Game Cli */

.container {
  position: relative;
  display: flex;
  bottom: 11rem;
  z-index: 5;
}

.close {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  border-radius: 50%;
  background-color: tomato;
}

.minimum {
  position: absolute;
  left: 32px;
  top: 8px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: rgba(252, 223, 0, 0.94);
}

.maximum {
  position: absolute;
  left: 55px;
  top: 8px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 0.75rem;
  border-radius: 50%;
  background-color: rgb(0, 169, 0);
}

.titlebar {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(to bottom, rgb(111, 111, 111), rgb(63, 63, 63));
  height: 30px;
  width: 35vw;
  min-width: 20rem;
  max-width: 27rem;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  margin-top: 0;
}

.display_wrapper {
  display: flex;
}

.display {
  position: relative;
  width: 35vw;
  min-width: 19.5rem;
  max-width: 27rem;
  height: 11rem;
  top: 10px;
  margin-top: 20px;
  background-color: black;
  border-radius: 0 0 0 5px;
  color: white;
  padding: 5px;
  overflow: auto;
}

.scroll {
  position: relative;
  top: 30px;
  border: 1px solid black;
  border-radius: 0 0 5px 0;
  background-color: rgb(63, 63, 63);
  width: 11px;
  height: 11rem;
  z-index: 5;
}

.input_commands {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  width: 18vw;
  min-width: 12rem;
  max-width: 18rem;
  background-color: rgb(37, 37, 37);
  color: white;
  font-size: 17px;
  border: none;
}

.input_command:focus {
  outline: none;
}

.command {
  z-index: 20;
  margin-left: 2px;
  height: 20px;
}
