/* Landing */

/* 
flex, 정렬
width, height,
border
margin, padding,
background-color
font
기타
*/

.container { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #fcc941;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.logo {
  z-index: 1;
  pointer-events: none;
}

.logo_box {
  cursor: pointer;
}

.page_1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdb3a;
}

.page_2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

.page_3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

.page_4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

.page_5 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient( to bottom, #ffdc48, #ffffff);
}

.word {
  font-size: 3.5vw;
  font-weight: 700;
  cursor: pointer;
}

.btn {
  position: fixed;
  top: 75vh;
  width: 10rem;
  height: 4rem;
  margin: 0 7px;
  border-radius: 1rem;
  border: #232321;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
  background-color: #232321;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.btn:hover {
  animation: pulse; 
  animation-duration: .5s;
}

.btn_arrow {
  color: #232321;
}

/* .container span {
  font-size: 45px;
  font-weight: 700;
} */