/* Login */

.background {
  width: 100%;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  margin-bottom: -2rem;
  width: 20rem;
  z-index: 7;
}

.container {
  position: relative;
  margin-bottom: -4.5rem;
  width: 20rem;
  height: 24rem;
  background-color: #fccb03;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input_id {
  margin-top: 1rem;
  padding: 1rem;
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.input_id:focus {
  outline: 2px inset #fcad03;
}

.input_password {
  padding: 1rem;
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.input_password:focus {
  outline: 2px inset #fcad03;
}

.valid {
  margin: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

.btn {
  width: 14rem;
  height: 2.5rem;
  background-color: #232321;
  color:#ffffff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

.btn:active {
  border-top: 2px solid #838383;
  border-left: 2px solid #838383;
}

.social {
  margin-top: 0.5rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
}

.social_btn {
  margin-top: 0.5rem;
  cursor: pointer;
}

.social_btn:active {
  border-top: 2px solid #83838334;
  border-left: 2px solid #83838334;
}

.social_image {
  width: 14rem;
}

.signin {
  margin-top: 0.7rem;
  font-size: 15px;
  font-weight: 700;
  align-self: center;
  cursor: pointer;
}

.warn_box {
  margin-top: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: red;
}

.warn_box {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  color: red;
}