/* Footer */

@import "../variables";
@import "../mixins";

.container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 75px;
  padding: 20px 50px;
}

.box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.word_white {
  color: $white;
}

// responsive

@include breakpoint(medium) {
  .container {
    padding: 20px 30px;
  }
}

@include breakpoint(extra-small) {
  .container {
    padding: 20px 10px;
  }
  .box {
    line-height: 20px;
    width: 100%;
  }
}