/* Landing */

@import "../variables";

.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $primary;
}

.btn_game {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}