/* Landing */

@import "../variables";

.background { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $primary;
}

.box_btn {
  position: absolute;
  top: -1%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  height: 100%;
}

.btn_arrow {
  font-family: $logo;
  font-weight: 100;
  font-style: normal;
  font-size: 5.5rem;
  pointer-events: none;
  z-index: 5;
}

.btn_arrow_white {
  font-family: $logo;
  font-weight: 100;
  font-style: normal;
  font-size: 5rem;
  color: $white;
  cursor: pointer;
  z-index: 5;
  &::selection {
    background-color: $primary-lightblue;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $primary-blue;
}

.btn_game {
  position: absolute;
  top: 70%;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: $gray;
  color: $white;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: $white;
    color: $gray;
    transition: .4s;
  }
}

.btn_game_white {
  position: absolute;
  top: 70%;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: $white;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: $gray;
    color: $white;
    transition: .4s;
  }
  &::selection {
    background-color: $primary-lightblue;
  }
}