/* Linux_Game */

@import "../variables";
@import "../mixins";

.game {
  position: relative;
  width: 38vw;
  height: 44vw;
  margin: auto;
  z-index: 1000;
}

.result_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  font-family: $base-font-family ;
  background-color: #614EDB;
}

.box_img {
  width: 300px;
}

.word,
.subword {
  margin-bottom: 20px;
  font-size: $base-font-size * 5;
  letter-spacing: 0.01rem;
  font-family: $sans-serif;
  font-weight: 500;
  color: $white;
}

.subword {
  margin-top: 20px;
  font-size: $base-font-size * 3;
}

.btn_container {
  display: flex;
}

.btn_white {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
  margin: 10px 20px;
  border-radius: 30px;
  line-height: 30px;
  border: 3px solid $white;
  font-family: $base-font-family;
  font-size: $base-font-size * 1.3;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: $white;
  cursor: pointer;
  transition: all 150ms ease-out;
}

.btn_white:hover {
  width: 150px;
  border: 2px solid $gray;
  background-color: $gray;
  color: $white;
}

@include breakpoint(medium) {
  .game {
    width: 38vw;
    height: 44vw;
  }
}

@include breakpoint(extra-small) {
  .game {
    margin-bottom: 90px;
    width: 335px;
    height: 338px;
  }

  .box_img {
    width: 200px;
    height: 200px;
  }

  .word {
    margin-bottom: 35px;
    font-size: $base-font-size * 3;
  }

  .subword {
    font-size: $base-font-size * 2;
  }

  .btn_container {
    flex-direction: column;
  }

  .btn_white {
    margin-bottom: 10px;
  }
}