/* My page */

@import "../variables";
@import "../mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $gray;
  ::selection {
    background-color: $primary-blue;
  }
}

.title {
  position: absolute; 
  top: 20%;
  font-size: 3.5rem;
  font-weight: 500;
  color: $white;
}

.box {
  position: absolute;
  top: calc(50% - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% + 150px);
  height: 50px;
}

.box_ranking {
  width: 100px;
  color: $white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.ranking_num {
  font-size: 45px;
  text-decoration: underline 2px;
  text-underline-position: under;
  line-height: 50px;
}

.box_score {
  width: 100px;
  color: $white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.score_num {
  font-size: 45px;
  text-decoration: underline 2px;
  text-underline-position: under; 
  line-height: 50px;
}

.box_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  width: 160px;
  height: 160px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.box_img_input {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  width: 160px;
  height: 160px;
  border-radius: 15px;
  overflow: hidden;
  color: transparent;
  text-align: center;
  line-height: 175px;
  font-size: 20px;
  font-weight: 600;
  &:hover {
    background-color: $primary;
    transition: .4s;
    color: $gray;
  }
}

.img_input {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 80px);
  width: 160px;
  height: 160px;
  cursor: pointer;
  color: $primary;
  opacity: 0;
}

.id {
  position: fixed;
  top: calc(50% + 90px);
  right: 50%;
  transform: translateX(50%);
  color: $white;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.word {
  position: absolute;
  bottom: 20%;
  color: $white;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    color: $primary;
    transition: .4s;
  }
}

.word_input {
  position: absolute;
  bottom: 20%;
  color: $white;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid $gray;
  padding-bottom: 10px;
  background-color: rgba(#000, .2);
  &::placeholder {
    font-size: 30px;
  }
  &:focus {
    outline: none;
    border-bottom: 1px solid $white;
    background-color: $gray;
    transition: .4s;
  }
  &:focus::placeholder {
    color: transparent;
  }
}

// responsive

@include breakpoint(extra-small) {
  .container {
    align-items: flex-start;
    padding: 30px;
  }
  .box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    left: 60%;
    top: calc(50% - 100px);
  }
  .title {
    align-self: center;
  }
  .box_ranking {
    text-align: left;
  }
  .ranking_num {
    font-size: 35px;
    line-height: 40px;
  }
  .box_score {
    margin-top: 10px;
    text-align: left;
  }
  .score_num {
    font-size: 35px;
    line-height: 40px;
  }
  .box_img_input {
    line-height: 170px;
  }
  .box_img {
    position: absolute;
    right: calc(50% + 60px);
  }
  .img {
    width: 120px;
    height: 120px;
    margin-top: 0;
    top: calc(50% - 80px);
  }
  .id {
    position: inherit;
    top: calc(50% + 60px);
    right: calc(50% + 20px);
    font-size: 25px;
  }
  .word {
    align-self: center;
    font-size: 2rem;
  }
  .word_input {
    align-self: center;
    font-size: 2rem;
    width: 70%;
    &::placeholder {
      font-size: 24px;
    }
  }
}