/*Ranking */

@import "../variables";
@import "../mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $gray;
  ::selection {
    background-color: $primary-blue;
  }
}

.title {
  position: fixed;
  top: 90px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 50px;
  color: $white;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 900px;
  min-width: 600px;
  height: 290px;
  margin-top: 100px;
}

.box_ranking {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 280px;
  &:nth-child(1) {
    margin-bottom: 140px;
    order: 2;
  }
  &:nth-child(2) {
    order: 1;
  }
  &:nth-child(3) {
    order: 3;
  }
}

.ranking {
  color: $white;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}

.ranking_me {
  color: $primary;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
}

.img {
  width: 130px;
  height: 130px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.img_cover {
  position: relative;
  top: -138px;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  color: transparent;
  &:hover {
    background-color: $primary-blue;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 133px;
    transition: .4s;
  }
}

.img_cover_following {
  position: relative;
  top: -138px;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  color: transparent;
  &:hover {
    background-color: tomato;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 133px;
    transition: .4s;
  }
}

.id {
  color: $white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.id_me {
  color: $primary;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.box_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0 20px;
  width: 50%;
  max-width: 900px;
  min-width: 600px;
  height: 154px;
  overflow: auto;
  background-color: rgba(#000, .2);
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border: solid 1px rgba(#000, .2);
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(#000, .2);
  }
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.line {
  border: solid 1px rgba($white, .2);
  width: 98%;
}

.list_btn {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: $gray;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: $white;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background-color: $primary-blue;
    transition: .4s;
  }
}

.list_btn_following {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: $primary-blue;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: $white;
  cursor: pointer;
  transition: .4s;
  &:hover {
    background-color: tomato;
    transition: .4s;
  }
}

.list_word {
  color: $white;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.list_word_me {
  color: $primary;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

// responsive

@include breakpoint(extra-small) {
  .title {
    top: 20%;
    margin-bottom: 30px;
  }
  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    width: calc(100% - 60px);
    min-width: 330px;
    height: 240px;
  }
  .box_ranking {
    flex-direction: column;
    justify-content: flex-end;
    width: 120px;
    height: 200px;
    &:nth-child(1) {
      margin-top: 50px;
    }
  }
  .ranking {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .ranking_me {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .img {
    width: 90px;
    height: 90px;
  }
  .img_cover {
    position: relative;
    top: -98px;
    width: 90px;
    height: 90px;
    &:hover {
      font-size: 14px;
      text-align: center;
      line-height: 93px;
    }
  }
  .img_cover_following {
    position: relative;
    top: -98px;
    width: 90px;
    height: 90px;
    &:hover {
      font-size: 14px;
      text-align: center;
      line-height: 93px;
    }
  }
  .id {
    font-size: 16px;
    word-break: break-all;
    line-height: 20px;
    margin-top: 10px;
  }
  .id_me {
    font-size: 16px;
    word-break: break-all;
    line-height: 20px;
    margin-top: 10px;
  }
  .box_list {
    height: 137px;
    width: calc(100% - 60px);
    min-width: 330px;
    margin-top: 10px;
  }
  .list_word {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .list_word_me {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .list_btn {
    width: 55px;
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
  }
  .list_btn_following {
    width: 55px;
    height: 20px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media all and (max-height: 700px) {
  .box {
    width: 50%;
    height: 90px;
  }
  .box_ranking {
    height: 90px;
    margin-bottom: 0px;
    &:nth-child(1) {
      margin-bottom: 100px;
    }
  }
  .img {
    display: none;
  }
  .list {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .box_list {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 50%;
    height: 138px;
  }
}

@media all and (max-height: 550px) {
  .box {
    display: none;
  }
  .box_list {
    margin-top: 80px;
    height: 65px;
  }
}