/* Tips */ 

@import "../variables";
@import "../mixins";

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba($gray, .4);
  z-index: 3;
}

.container {
  width: 100%;
  height: 40vh;
  z-index: 3;
  border-radius: 80px 80px 0 0;
  background-color: $white;
}

.box_btn {
  position: absolute;
  top: -1%;
  left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60px);
  height: 100%;
}

.btn_arrow {
  font-family: $logo;
  font-weight: 100;
  font-style: normal;
  font-size: 5.5rem;
  pointer-events: none;
  z-index: 5;
}

.btn_tip {
  position: absolute;
  bottom: 75px;
  right: 65px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.btn_tip_white {
  position: absolute;
  bottom: 75px;
  right: 65px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  color: $white;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  padding: 20px 80px;
}

.command {
  text-align: center;
  margin-bottom: 10px;
  font-size: $base-font-size * 1.8;
  font-weight: 700;
}

.description,
.example {
  font-size: $base-font-size * 1.3;
  font-weight: 600;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  border: 2px solid $gray;
  border-radius: 50px;
  margin-top: 20px;
  padding: 2px 4px;
  background-color: $white;
  font-size: $base-font-size * 1.1;
  font-weight: 500;
  cursor: pointer;
  transition: all 250ms ease-out;
}

.close:hover {
  width: 80px;
  color: $white;
  background-color: $gray;
}

@include breakpoint(medium) {
  .box {
    margin: auto;
    padding: 20px 50px;
  }
}

@include breakpoint(extra-small) {
  .btn_tip {
    position: static;
    margin-bottom: 7vh;
  }
  .command {
    font-size: $base-font-size * 1.4;
  }
  .description,
  .example {
    font-size: $base-font-size * 0.9;
  }
}