// =============================================================================
// Home
// =============================================================================

// Colors
// =============================================================================

// Imports
// =============================================================================

// Vendors

@import "vendor/normalize";

// Settings

@import "variables";
@import "mixins";
@import "base";
@import "fonts";

.swiper-button-next {
  &::after {
    position: absolute;
    right: 25px;
    opacity: 0;
    z-index: 100;
    color: $gray;
  }
}

.swiper-button-prev {
  &::after {
    position: absolute;
    left: 25px;
    opacity: 0;
    z-index: 100;
    color: $gray;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white !important;
}

.page-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
}

#nprogress .bar {
  background: #fff !important;
}

#nprogress .spinner-icon {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 60px !important;
  height: 60px !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
}

#linux_game_container {
  width: 38vw;
  height: 44vw;
}

#linux_check_title {
  position: fixed;
  left: 1vw;
  top: 35vh;
  margin-left: 22px;
  text-align: left;
  font-size: 22px;
  font-weight: 600;
}

#linux_check_ul {
  position: fixed;
  left: 1vw;
  top: 39vh;
  width: 28vw;
}

#linux_check_first,
#linux_check_second,
#linux_check_third {
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  word-break: keep-all;
}

#linux_result_background {
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #614EDB;
  z-index: 1;
}

#linux_display {
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #614EDB;
  z-index: 1;
}

#css_game_container {
  width: 670px;
  height: 775px;
}

#automata_game_container {
  width: 670px;
  height: 775px;
}

@include breakpoint(medium) {
  #linux_game_container {
    width: 38vw;
    height: 44vw;
  }

  #linux_check_title {
    left: 0vw;
    font-size: 18px;
  }

  #linux_check_ul {
    left: 1vw;
    top: 39vh;
    width: 28vw;
    line-height: 22px;
  }

  #linux_check_first,
  #linux_check_second,
  #linux_check_third {
    margin: 0px;
    font-size: 14px;
    line-height: 16px;
  }
}

@include breakpoint(extra-small) {
  #linux_game_container {
    width: 335px;
    height: 338px;
  }

  #linux_check_title {
    position: absolute;
    left: -6vw;
    top: -22vh;
    font-size: 16px;
  }

  #linux_check_ul {
    position: absolute;
    margin-top: 4px;
    left: -3vw;
    top: -19vh;
    width: 335px;
    font-size: 16px;
  }

  #linux_check_first,
  #linux_check_second,
  #linux_check_third {
    font-size: 14px;
  }
}