// =============================================================================
// Home
// =============================================================================

// Colors
// =============================================================================

// Imports
// =============================================================================

// Vendors

@import "vendor/normalize";

// Settings

@import "variables";
@import "mixins";
@import "base";
@import "fonts";

.swiper-button-next {
  &::after {
    position: absolute;
    right: 25px;
    opacity: 0;
    z-index: 100;
    color: $gray;
  }
}

.swiper-button-prev {
  &::after {
    position: absolute;
    left: 25px;
    opacity: 0;
    z-index: 100;
    color: $gray;
  }
}

.swiper-pagination-bullet-active {
  background-color: $white !important;
}

.page-enter {
  opacity: 0;
  transform: scale(0.9);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}

#nprogress .bar {
  background: #fff !important;
}

#nprogress .spinner-icon {
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 60px !important;
  height: 60px !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
}

#linux_game_container {
  width: 536px;
  height: 620px;
}

#css_game_container {
  width: 670px;
  height: 775px;
}

#automata_game_container {
  width: 670px;
  height: 775px;
}

@include breakpoint(medium) {
  #linux_game_container {
    width: 429px;
    height: 496px;
  }
}

@include breakpoint(extra-small) {
  #linux_game_container {
    width: 335px;
    height: 338px;
  }
}